@model Umbraco.Forms.Mvc.Models.FieldViewModel
@{
    var siteKey = Umbraco.Forms.Core.Configuration.GetSetting("RecaptchaPublicKey");
    var usecase = "homepage";
    var useCaseSetting = Model.AdditionalSettings.FirstOrDefault(x => x.Key == "UseCase");
    if (useCaseSetting.Value != "")
    {
        usecase = useCaseSetting.Value;
    }

    if (!string.IsNullOrEmpty(siteKey))
    {

        <script src="https://www.google.com/recaptcha/api.js?render=@siteKey"></script>
        <input type="hidden" id="@Model.Id" name="g-recaptcha-response" />
        <script>
            grecaptcha.ready(function() {
                grecaptcha.execute('@siteKey', { action: '@usecase' }).then(function (token) {
                    $("#@(Model.Id)").val(token);
                });
            });
        </script>
    }
    else
    {
        <p class="error">ERROR: ReCaptcha v.3 is missing the Site Key - Please update the UmbracoForms.config to include 'key="RecaptchaSiteKey"'</p>
    }
}